body {
}

#navButton {
  float: right;
}

#dikshi:hover {
  background-color: #56509f;
  display: block;
}

.child {
  border: solid 1px;
}
.left {
  width: 100px;
}
.container {
  display: flex;
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

#dd {
  color: brown;
}

#trying {
  margin-top: 35%;
  margin-left: 0%;
  opacity: 0.7;
  width: 30rem;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #mynavbar {
    width: 20%;
  }
}
